

h1{
	
	color: rgb(245, 61, 61);
	text-shadow: 1px 1px 3px black;
	font-size: 60px;
	font-weight: 900;

}


body{
	font-family: Microsoft JhengHei;
	background-image: url('../img/playing..jpg') no-repeat fixed;
    background-size: cover;
    position: relative;
}

.bg{
	background-color: rgba(0,0,0,0.2); 
	text-align: center;
	min-height: 500px;
}


